doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(type='text/javascript', src='/javascripts/hola.js')
    meta(author='Slava Shklyar')
  body
    block content