doctype 5
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css')
        script(type='text/javascript', src='http://www.appelsiini.net/projects/jeditable/default.html')
        script(type='text/javascript', src='//code.jquery.com/ui/1.10.0/jquery-ui.js')
        script(type='text/javascript', src='/javascripts/hola.js')
        script(type='text/javascript', src='/javascripts/jquery.jeditable.js')
        meta(author='Slava Shklyar')
    body
        block content